#topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: #ffffff;
    height: fit-content;
    border: 1px solid #6967733d;
    border-width: 0  0 1px  0;
}
.rightWidgets{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.rightWidgets>svg{
    background-color: #fed766;
    margin-left: 5rem;
    padding: 5px;
    border-radius: 50%;
}

.rightWidgets>input{
    border-radius: 5px;
    border-style: none;
    width: 300px;
    height: 25px;
    background-color: #eff1f3;
}