#topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: #ffffff;
    height: fit-content;
    border: 1px solid #6967733d;
    border-width: 0  0 1px  0;
}
.rightWidgets{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.rightWidgets>svg{
    background-color: #fed766;
    margin-left: 1rem;
    padding: 5px;
    border-radius: 50%;
}



#logout{
    padding:0 0.5rem;
    text-align: center;
    justify-self: center;
    align-self: center;
}

#logout:hover{
    cursor: pointer;
    color: #009fb7;
    text-shadow: 0px 0px 10px #009fb768;
}